/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>

/ {
    compatible = "GuGuMIPS,NSCSCC";
    #address-cells = <1>;
    #size-cells = <1>;

    chosen {
        bootargs = "cca=0 console=ttyUL0,115200n8 rootfstype=jffs2 root=/dev/mtdblock1";
    };

    aliases {
        serial0 = &serial0;
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;
        cpu@0 {
            device_type = "cpu";
            compatible = "mips,4Kc";
            clocks = <&ext>;
            reg = <0>;
        };
    };

    ext: ext {
        compatible = "fixed-clock";
        #clock-cells = <0>;
    };

    memory {
        device_type = "memory";
        reg = <0x0 0x8000000>;
    };

    cpuintc: interrupt-controller@0 {
        #address-cells = <0>;
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "mti,cpu-interrupt-controller";
    };

    soc {
        compatible = "simple-bus";
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        axi_intc_0: interrupt-controller@1fe00000 {
            #interrupt-cells = <1>;
            compatible = "xlnx,xps-intc-1.00.a";
            interrupt-controller;
            interrupt-parent = <&cpuintc>;
            interrupts = <2>;
            reg = <0x1fe00000 0x1000>;
            xlnx,kind-of-intr = <0x27>;
            xlnx,num-intr-inputs = <0x6>;
        };


        serial0: serial@1fd00000 {
            device_type = "serial";
            compatible = "xlnx,xps-uartlite-1.00.a";
            reg = <0x1fd00000 0x1000>;
            current-speed = <115200>;
            clock-frequency = <50000000>;
            interrupt-parent = <&axi_intc_0>;
            interrupts = <1>;
        };

        lcd0: lcd@1f600000 {
            compatible = "lcd,nt35510";
            reg = <0x1f600000 0x1000>;
        };

        axi_quad_spi@1f900000 {
            #address-cells = <1>;
            #size-cells = <0>;
            compatible = "xlnx,xps-spi-2.00.a";
            interrupt-parent = <&axi_intc_0>;
            interrupts = <5>;
            reg = <0x1f900000 0x10000>;
            xlnx,num-ss-bits = <0x1>;
            num-cs = <0x1>;
            fifo-size = <256>;

            flash@0 {
                compatible = "mx25l25635e", "jedec,spi-nor";
                reg = <0x0>;
                spi-max-frequency = <30000000>;

                spi-rx-bus-width = <1>;
                m25p,fast-read;

                partitions {
                    compatible = "fixed-partitions";
                    #address-cells = <1>;
                    #size-cells = <1>;

                    partition@10000 {
                        label = "bootenv";
                        reg = <0x10000 0x10000>;
                    };
                    partition@20000 {
                        label = "rootfs";
                        reg = <0x20000 0x1fe0000>;
                    };
                };
            };
        };

        axi_ethernetlite: ethernet@1fb00000 {
            compatible = "xlnx,xps-ethernetlite-3.00.a";
            device_type = "network";
            local-mac-address = [02 02 03 03 03 03];
            phy-handle = <&phy0>;
            reg = <0x1fb00000 0x10000>;
            xlnx,duplex = <0x1>;
            xlnx,include-global-buffers = <0x1>;
            xlnx,include-internal-loopback = <0x0>;
            xlnx,include-mdio = <0x1>;
            xlnx,instance = "axi_ethernetlite_inst";
            xlnx,rx-ping-pong = <0x1>;
            xlnx,s-axi-id-width = <0x1>;
            xlnx,tx-ping-pong = <0x1>;
            xlnx,use-internal = <0x0>;
            interrupt-parent = <&axi_intc_0>;
            interrupts = <2>;
            mdio {
                #address-cells = <1>;
                #size-cells = <0>;
                phy0: phy@1 {
                    device_type = "ethernet-phy";
                    reg = <1>;
                };
            };
        };

        ps2: ps2@1f800000 {
            compatible = "altr,ps2-1.0";
            reg = <0x1f800000 0x1000>;
            interrupt-parent = <&axi_intc_0>;
            interrupts = <3>;
        };

        ue11: ue11@1e000000 {
            compatible = "ue11-hcd";
            reg = <0x1e000000 0x1000>;
            interrupt-parent = <&axi_intc_0>;
            interrupts = <4>;
        };
    };
};

&ext {
    clock-frequency = <50000000>;
};